body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ede0d4;
  color: #7f5539;
}

h1, h2, h3 {
  font-family: "Be Vietnam Pro", sans-serif;
  margin-top: 0;
  color: #7f5539;
}

/* 
min-height: 100vh;

- "min-height" définit une hauteur minimale.
- "100vh" signifie 100% de la hauteur de la fenêtre visible (viewport height).
- L’élément aura donc au moins la hauteur de l’écran.
- S’il y a plus de contenu, il peut devenir plus grand, mais jamais plus petit.
*/
#cv-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* ----- COLONNE GAUCHE : 1/3 ----- */
#left-column {
  width: 33.33%;
  background-color: #e6ccb2;
  padding: 20px;
  box-sizing: border-box;
}

#left-column section {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddb892;
}

#photo {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 15px;
}

a {
  color: #7f5539;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ----- COLONNE DROITE : 2/3 ----- */
/*
box-sizing: border-box;

- Cela change la façon dont la taille d’un élément est calculée.
- Avec "border-box", la largeur et la hauteur INCLUENT :
    • le padding
    • la bordure
- exemple : si tu mets width: 200px, l’élément fera exactement 200px,
  même si tu ajoutes du padding ou une bordure.
- C’est plus facile pour contrôler les tailles et éviter que les éléments débordent.
*/
#main-column {
  width: 66.66%;
  background-color: #f8f1eb;
  padding: 30px;
  box-sizing: border-box;
}

#main-column section {
  margin-bottom: 35px;
}

ul {
  padding-left: 20px;
}

.period {
  font-weight: 600;
  color: #b08968;
}
